package ${package}.${moduleName}.controller;


import ${package}.${moduleName}.model.${className}Model;
import ${package}.${moduleName}.param.${className}Param;
import ${package}.${moduleName}.service.${className}Service;
import ${package}.result.ResponseResult;

import javax.servlet.http.HttpServletRequest;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;


/**
 * Description: ${comments}控制层
 * Copyright:   Copyright (c)2021
 * Company:     rongji
 *
 * @author: ${author}
 * @version: 1.0
 * Create at:   ${datetime}
 * <p>
 * Modification History:
 * Date         Author      Version     Description
 * ------------------------------------------------------------------
 * ${date}   ${author}        1.0       1.0 Version
 */
@RequestMapping("/${classname}")
@Controller
public class ${className}Controller {


    @Autowired
    private ${className}Service ${classname}Service;


    /**
    * 查询
    * tips: 单条
    */
    @RequestMapping("/get")
    @ResponseBody
    public Object get(HttpServletRequest request, String ${pk.attrname}) {
        return ResponseResult.success(${classname}Service.get(${pk.attrname}));
    }


    /**
     * 查询
     * tips: 列表
     */
    @RequestMapping("/list")
    @ResponseBody
    public Object list(HttpServletRequest request, ${className}Param param) {
        return ResponseResult.success(${classname}Service.list(param));
    }



    /**
    * 新增
    */
    @RequestMapping("/save")
    @ResponseBody
    public Object save(HttpServletRequest request, ${className}Model vo) {
        return ResponseResult.success(${classname}Service.save(vo));
    }


    /**
        * 删除
        */
    @RequestMapping("/delete")
    @ResponseBody
    public Object delete(HttpServletRequest request, String ${pk.attrname}) {
        return ResponseResult.success(${classname}Service.delete(${pk.attrname}));
    }


    /**
     * 修改
     */
    @RequestMapping("/update")
    @ResponseBody
    public Object update(HttpServletRequest request, ${className}Model vo) {
        return ResponseResult.success(${classname}Service.update(vo));
    }



}
