package ${package}.${moduleName}.model;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.util.Date;


/**
 * ${comments} PO 类
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
@Builder
public class ${className} {

#foreach ($column in $columns)
    /**
     * #if($column.comments)$column.comments#else#end $empty
     */
    @ApiModelProperty(value = "#if($column.comments)$column.comments#else#end$empty")
    private $column.attrType $column.attrname;


#end
#foreach ($column in $columns)

    public ${column.attrType} get${column.attrName}(){
        return $column.attrname;
    }


    public void set${column.attrName}(${column.attrType} ${column.attrname}) {
        this.${column.attrname} = ${column.attrname};
    }

#end

}
