package ${package}.${moduleName}.mapper;


import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.param.${className}Param;
import java.util.List;

import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Component;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;


/**
 * ${comments}数据库访问层
 *
 * @author ${author}
 * @date ${datetime}
 */
@Component
public interface ${className}Mapper extends BaseMapper<${className}> {


    /**
     * 查询
     * tips；列表
     */
    List<${className}> selectPage(Page page, @Param("param") ${className}Param param);


}
