package ${package}.${moduleName}.param;


/**
 * ${comments}查询参数
 *
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}Param extends BaseParam {

    #foreach ($column in $columns)
        /**
         * $column.comments
         */
        private $column.attrType $column.attrname;


    #end
    #foreach ($column in $columns)

        public ${column.attrType} get${column.attrName}(){
            return $column.attrname;
        }


        public void set${column.attrName}(${column.attrType} ${column.attrname}) {
            this.${column.attrname} = ${column.attrname};
        }

    #end

}
