package ${package}.${moduleName}.param;

import cn.gov.customs.h2018.ctims.base.param.BaseParam;


/**
 * ${comments}查询参数
 *
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}Param extends BaseParam {

    #foreach ($column in $columns)
    #if($column.attrType == $dateType)

    /**
     * #if($column.comments)$column.comments开始#else 时间开始 #end $empty
     */
    private String ${column.attrname}Begin;


    /**
     * #if($column.comments)$column.comments结束#else 时间结束 #end $empty
     */
    private String ${column.attrname}End;
    #else $empty
    /**
     * #if($column.comments)$column.comments#else#end $empty
     */
    private $column.attrType $column.attrname;
    #end

    #end
    #foreach ($column in $columns)

    #if($column.attrType == $dateType)

    public String get${column.attrName}Begin(){
        return ${column.attrname}Begin;
    }


    public void set${column.attrName}Begin(String ${column.attrname}Begin) {
            this.${column.attrname}Begin = ${column.attrname}Begin;
    }


    public String get${column.attrName}End(){
        return ${column.attrname}End;
    }


    public void set${column.attrName}End(String ${column.attrname}End) {
        this.${column.attrname}End = ${column.attrname}End;
    }


    #else
public ${column.attrType} get${column.attrName}(){
        return $column.attrname;
    }


    public void set${column.attrName}(${column.attrType} ${column.attrname}) {
        this.${column.attrname} = ${column.attrname};
    }
    #end


    #end

}
