package ${package}.${moduleName}.service;


import ${package}.${moduleName}.param.${className}Param;
import ${package}.${moduleName}.model.${className}Model;

import com.baomidou.mybatisplus.core.metadata.IPage;


/**
 * ${comments}接口层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {


    /**
     * 新增
     */
    int insert(${className}Model vo);


    /**
     * 删除
     */
    int deleteById(String ${pk.attrname});


    /**
     * 修改
     */
    int updateById(${className}Model vo);


    /**
     * 查询
     * tips；单条
     */
     ${className}Model selectById(String ${pk.attrname});


    /**
     * 查询
     * tips；列表
     */
    IPage<${className}Model> selectPage(${className}Param param);

}

