package ${package}.${moduleName}.service;


import ${package}.${moduleName}.model.${className}Model;
import ${package}.${moduleName}.param.${className}Param;
import java.util.List;


/**
 * ${comments}接口层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    /**
     * 新增
     */
    int save(${className}Model vo);


    /**
     * 删除
     */
    int delete(String ${pk.attrname});


    /**
     * 修改
     */
    int update(${className}Model vo);


    /**
     * 查询
     * tips；单条
     */
     ${className}Model get(String ${pk.attrname});


    /**
     * 查询
     * tips；列表
     */
    List<${className}Model> list(${className}Param param);

}

