<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.${moduleName}.mapper.${className}Mapper">

    <resultMap id="${classname}Map" type="${package}.${moduleName}.model.${className}">
        #foreach ($column in $columns)
            #if($column.columnName == $pk.columnName)
                <id column="${column.columnName}" property="${column.attrname}" jdbcType="${column.dataType}"/>
            #else
                <result column="${column.columnName}" property="${column.attrname}" jdbcType="${column.dataType}"/>
            #end
        #end
    </resultMap>


    <select id="selectPage" resultMap="${classname}Map" parameterType="${package}.${moduleName}.param.${className}Param">
        SELECT *
        FROM ${tableName} t
        WHERE
        1 = 1 $empty
        #foreach ($column in $columns)
        #if($column.attrType == $dateType)
        <if test="param.${column.attrname}Begin != null">
            <![CDATA[AND t.${column.columnName} >= to_date(#{param.${column.attrname}Begin} ,'YYYY-MM-DD')]]>
        </if>
         <if test="param.${column.attrname}End != null">
             <![CDATA[AND t.${column.columnName} <= to_date(#{param.${column.attrname}End} ,'YYYY-MM-DD') + 1]]>
         </if>
        #else
        <if test="param.${column.attrname} != null">
            AND t.${column.columnName} = #{param.${column.attrname}}
        </if>
        #end
        #end
    </select>


</mapper>